# 依賴
node_modules

# 建置輸出
dist
dist-ssr
*.local

# 編輯器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 環境變數
.env
.env.local
.env.*.local

# 日誌
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 文件報告與簡報
*.pdf

# 備份檔案
*.backup
